.container {
  width: 490px;
  height: 99px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.textContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.highlight {
  width: 98px;
  height: 99px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: #ffba08;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 103px;
}

.information {
  width: 16px;
  height: 16px;
  margin-left: 15px;
}
