.container {
  width: 180px;
  height: 145px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 85px;
  height: 85px;
}

.span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #47585b;
}
