.container {
  width: 1440px;
  height: 500px;
  background: linear-gradient(
    0deg,
    rgba(28, 20, 1, 0.35),
    rgba(28, 20, 1, 0.35)
  );
  display: flex;
}

.spanOne {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  color: #f5f8fa;
  margin-left: 173px;
  margin-top: 369px;
}
