.container {
  width: 1440px;
  height: 1530px;
  margin: 0 auto;
}

.divider {
  margin: 0 auto;
  margin-top: 60px;
  width: 90px;
  height: 0px;
  background-color: #47585b;
  border: 2px solid #47585b;
}

.text {
  margin: 0 auto;
  margin-top: 60px;
  width: 839px;
  height: 101px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  color: #47585b;
}

.callToAction {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.callToAction select {
  margin-right: 15px;
  text-align: center;
  padding: 7px;
  border: none;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.callToAction button {
  background-color: #0275d8;
  color: white;
  font-weight: bold;
  padding: 7px;
  border: none;
  cursor: pointer;
}

.callToAction button:hover {
  opacity: 0.8;
}
