.container {
  width: 1706px;
  height: 1569px;
}

.divider {
  position: absolute;
  width: 90px;
  height: 0px;
  left: 675px;
  top: 774px;
  background-color: #47585b;
  border: 2px solid #47585b;
}

.text {
  position: absolute;
  width: 839px;
  height: 101px;
  left: 300px;
  top: 826px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  color: #47585b;
}
