.container {
  width: 1440px;
  height: 1469px;
  margin: 0 auto;
}

.divider {
  margin: 0 auto;
  margin-top: 60px;
  width: 90px;
  height: 0px;
  background-color: #47585b;
  border: 2px solid #47585b;
}

.text {
  margin: 0 auto;
  margin-top: 60px;
  width: 839px;
  height: 101px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  color: #47585b;
}
